rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /leaders/{entryId} {
      allow read: if true;
      allow update, delete: if false;

      allow create: if request.resource.data.keys().hasOnly([
          'name',
          'score',
          'date',
          'level',
          'createdAt'
        ])
        && request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.name.size() <= 20
        && request.resource.data.score is int
        && request.resource.data.score >= 0
        && request.resource.data.score <= 240
        && request.resource.data.date is string
        && request.resource.data.level in ['easiest', 'easy', 'medium', 'hard']
        && request.resource.data.createdAt == request.time;
    }
  }
}
